{% extends 'core/base.html' %}
{% load static %}

{% block title %}Quiz - GreenWear{% endblock title %}
{% block description %}Rispondi alle domande e guadagna punti.{% endblock description %}

{% block page_syle %}<link href="{% static 'css/quiz.css' %}" rel="stylesheet" />{% endblock page_syle %}

{% block content %}
<main>

    <div class="row">
        <!-- Image -->
        <img class="col-md-5 login-img d-none d-md-block" src="{% static 'assets/quiz.jpg' %}" alt="">
        <div class="col-md-7 d-flex justify-content-center align-items-start p-5">
            <form method="POST" action="{% url 'quiz' quiz.id %}" class="quiz-form d-flex flex-column align-items-center flex-fill gap-4">
                {% csrf_token %}
                <!-- header -->
                <h1 class="fw-bold">Quiz</h1>
                {{ form }}
                <button class="btn btn-success btn-lg fw-semibold mt-3 w-100" type="submit">Invia</button>
            </form>
        </div> 
    </div>

</main>
{% endblock content %}

{% block page_scripts %}
<!-- display correct labels -->
<script type="text/javascript">

    var radios = $('label');

    for (radio of radios) {
        if ($(radio).attr('for') !== undefined) {
            $(radio).contents().filter(function() {
                return this.nodeType === 3; // Node.TEXT_NODE
                console.log(this.nodeType)
            }).remove();
    
            var input = $(radio).html();
            var answer = $(radio).children('input').attr('value');
            $(radio).html(input + answer);
        }
    }

    $(document).ready(function() {
        $('label[for]').on('change', function() {
            $(this).closest('div.quiz-answer').find('label[for]').removeClass('label-active');
            $(this).addClass('label-active');
        });
    });

</script>
{% endblock page_scripts %}